body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Helvetica Neue", Arial, sans-serif;
  font-size: 1rem;

  text-align: center;
  color: #333;
}

main {
  display: block;
  margin: 10px 8px;
  padding: 50px;
  border-radius: 10px;
  background: #eee;
}

#image {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 5px;
}

a {
  text-decoration: none;
  color: #333;
}

a:hover {
  color: red;
  text-decoration: line-through;
}

#img-div,
ul {
  background-color: white;
  padding: 1.5%;
}

li {
  font-size: 0.9rem;
  font-weight: bold;
  text-align: left;
}

ul {
  font-size: 0.7rem;
  text-align: justify;
  list-style-type: none;
}

h2 {
  font-size: 0.7rem;
  font-style: italic;
}
